html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

.slider {
	padding: 0;
	margin: 0;
	width: 300px;
	outline: 1px solid red;
}

.slider .slider-slide {
	width: 100px;
	height: 100px;
	outline: 1px solid black;
	margin: 0 10px;
}

.slider .slider-slide.slider-current {
	background-color: #efe;
}
